body::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 1px;
}

body::-webkit-scrollbar-track {
	@apply bg-background;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(129deg, #2b6cb0 0%, #2b6cb0 100%);
	border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(129deg, #2b6cb0 0%, #2b6cb0 100%);
}

#nprogress .bar {
	z-index: 1110 !important;
}
